
vict.csv
vict2.csv
vict_gdf.gpkg
Violence-against-women-in-Mexico-Cirt/
Total_crime.png
total2.png
socex.png
Screen Shot 2023-04-26 at 17.39.14.png
reprojected_victims.qmd
reprojected_fem.qmd
ratio_tot.png
Presentation1.pptx
nearest_metro_ageb.qmd
nearest_fem.qmd
masc_nearest.qmd
Figure 2023-04-26 165438.png
Figure 2023-04-26 163519.png
fig6.png
fig5.png
fig4.png
fig3.png
fig2.png
dv2.py
DV.png
clip.png
chloro_crime2.png
by_month.png
